.container {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: auto;
    border: 5px solid black;
    
    width: 40%;
}

.container h1 {
    color: black;
}

.container .addStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
